<div class="mt-5">

</div>

<footer class="fl w-100 bg-gold tc">
  <div class="">
    <span class="">&copy; <%= new Date().getFullYear(); %> salamanetwork</span>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="./public/bootstrap/dist/js/bootstrap.min.js"></script>
</div>
</body>

</html>
