<%- include('./partials/header') %>

<div class="container">

  <div class="row justify-content-center">
  <!--
    Heres where notification will be rendered
  -->
  <%- locals.flash %>



    </div>
  </div>


  <%- include('./partials/footer') %>
